.scored-rack {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #abbd81;
    padding: 0.5% 3% 0.5% 3%;
}

.scored-rack:first-child {
    color: #f8b26a;
  }
