#info {
    background-color: #256188;
    color: black;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    align-items: center;
}

#icon {
    background-color: black;
    border-radius: 5px;
}